.display{
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    height: 2.5em;
    line-height: 2.5em;;
    background-color: cyan;
    width: 80%;
    font-size: 20px;
    font-weight: bold;
    outline: 2px solid black ;
}

.buttons-container{
    display: grid;
    grid-template-rows: autorepeat(4,1fr);
    grid-template-columns:repeat(4,1fr);
    grid-gap:1px;
    background-color: black;
    text-align: center;
    width:80%;
    height:10em;
    margin: auto;
    outline: 2px solid black ;
}

.buttons-container > div{
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;    
}